#BannerBar {
    margin-top : 5px;
    margin-bottom : 10px;
}

#my {
    width : 22px;
    height : 30px;
    margin-left : 20px;
    padding-bottom : 5px;
}

#logo2 {
    width : 82px;
    height : 40px;
    display : inline;
    margin-left : 27%;

}

#logout2 {
    width : 22px;
    height : 25px;
    display : inline;
    margin-left : 30%;
    padding-bottom :5px;
}