/*EditInfo.js에서 사용하는 css */

#ei_editphoto {
  border-bottom: 0.5px solid #f0f0f0;
  box-sizing: content-box;
  padding: 1rem;
  background-color: #f9f9f9;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#profileEditBtnDiv {
  width: 14rem;
}

#profileEditBtnDiv > input {
  width: 100%;
  border-radius: 5px;

  border-radius: 5px;
  border: transparent;
}

#profileEditBtnDiv > button {
  width: 100%;
  margin-top: 0.5rem;
  border-radius: 5px;
  border: transparent;
  padding: 0.5rem;
  background-color: #00ac78;
  font-size: 15px;
  color: white;
  font-weight: bold;
}

/* #ei_photo1 {
  margin-left: 163px;
  width: 66px;
  height: 66px;
} */

#ei_div {
  margin: 20px;
}

#ei_p1 {
  margin-top: 30px;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  color: #828282;
}

#ei_p2 {
  display: inline-block;
  font-size: 10px;
  margin-left: 10px;
  color: #bcbcbc;
  font-weight: bold;
}

#ei_p2 span {
  color: #f98c96;
}

#ei_form1 {
  margin-top: 5px;
  margin-right: 10px;
  width: 250px;
  height: 30px;
  border: 1px solid #bcbcbc;
  border-radius: 5px;
  padding: 1rem 0.5rem;
}

#ei_form2 {
  margin-top: 5px;
  width: 345px;
  height: 35px;
  border: 1px solid #bcbcbc;
  border-radius: 5px;
  background-color: #ececec;
  padding: 1rem 0.5rem;
}

#ei_form3 {
  display: inline-block;
  margin: 5px 10px -11px 0px;
  width: 210px;
  height: 30px;
  border: 1px solid #bcbcbc;
  border-radius: 5px;
}

#ei_form4 {
  margin-top: 10px;
  margin-right: 10px;
  width: 250px;
  height: 30px;
  border: 1px solid #bcbcbc;
  border-radius: 5px;
  padding: 1rem 0.5rem;
}

#ei_btn1 {
  width: 82px;
  height: 35px;
  border: 1px solid #00ac78;
  border-radius: 5px;
  color: #00ac78;
  font-weight: bold;
  background-color: #ffffff;
}

#ei_btn2 {
  width: 340px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
  background-color: #00ac78;
  margin-top: 10px;
}

#ei_btn3 {
  width: 82px;
  height: 35px;
  border: 1px solid #00ac78;
  border-radius: 5px;
  color: #00ac78;
  font-weight: bold;
  background-color: #ffffff;
}

/*EditPW.js에서 사용하는 css */
#ep_bar {
  width: 390px;
  height: 40px;
  border-bottom: 1px solid #bcbcbc;
  text-align: center;
  color: #3e3e3e;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}

#ep_div {
  margin: 20px;
}

#ep_p1 {
  margin-top: 30px;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  color: #828282;
}

#ep_p1_2 {
  margin-top: 30px;
  display: inline-block;
  color: black;
  font-size: 20px;
  font-weight: 600;
}

#ep_exit {
  float: right;
  margin-right: 20px;
  margin-top: -20px;
}

#ep_form1,
#ep_form2,
#ep_form3 {
  margin-top: 5px;
  width: 345px;
  height: 35px;
  border: 1px solid #bcbcbc;
  border-radius: 5px;
  padding: 1.2rem 1rem;
}

#ep_btn {
  width: 340px;
  height: 50px;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  background-color: #00ac78;
  margin-top: 450px;
  margin-left: 5px;
}

#ep_btn2 {
  width: 340px;
  height: 60px;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  font-size: 30px;
  font-weight: 800;
  background-color: #00ac78;
  margin-top: 450px;
  margin-left: 5px;
}

#ei_p1_2 {
  display: inline-block;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 1.5rem;
  color: black;
  font-weight: 600;
}

.detailDescription {
  color: black;
  font-size: 15px;
  margin-top: 0.5rem;
}

#profileImgContainer {
  width: 6rem;
  height: 6rem;
  border: transparent;
  border-radius: 10%;
  overflow: hidden;
}

#profileImgContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
