/*Missing.js 실종목격 페이지에 사용되는 css*/

#miss { /*실종 div태그*/
    display : inline-block;
    margin: 0px;
    width : 194px;
    height : 47px;
    padding : 15px 10px 0px;
    text-align : center;
    font-size : 15px;
    font-weight : bold;
    color : #00AC78;
    border-bottom : 1px solid #00AC78;
}

#seen { /*목격 div태그*/
    display : inline-block;
    margin : 0px;
    width : 190px;
    padding : 16px 0px;
    text-align : center;
    font-size : 15px;
    font-weight : bold;
    color : #828282;
    border-bottom : 1px solid #ECECEC;
}

#count {
    float : right;
    font-size : 15px;
    margin : 10px 20px;
    color : #3E3E3E;
}

/* MissingList.jsx 컴포넌트에 사용되는 css*/

#ml_list {
    width: 340px;
    height : 111px;
    border : 1px solid #BCBCBC;
    border-radius : 10px;
    margin : 25px;
    padding : 0px;
    padding-bottom : 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#ml_container { /* 동물 사진 img태그*/
    width: 120px;
    height : 110px;
    border-top-left-radius : 8px;
    border-bottom-left-radius : 8px;
    display : inline-block;
    margin-top : 15px;
}

#ml_photo { 
    width : 100%;
    height : 100%;
    object-fit : cover;
    border-top-left-radius : 8px;
    border-bottom-left-radius : 8px;
    margin-bottom : -10px;
}

#listinform { /* 정보 p태그를 묶는 div태그*/
    display : inline-block;
    width : 220px;
    height : 110px;
    border-top-right-radius : 10px;
    border-bottom-right-radius : 10px;
    margin : -10% -2px;
    line-height : 15px;
}

#main { /*주요정보 P태그*/
    color : #3E3E3E;
    font-size : 15px;
    font-weight : bold;
}

#sub { /*상세정보 p태그*/
    margin : 0px 0px;
    color : #3E3E3E;
    font-size : 11px;
    margin-bottom : 30px;
}

#missinform {
    margin : 0px 10px;
    color : #3E3E3E;
    border-top : 1px solid #BCBCBC;
    font-size : 11px;
    line-height : 17px;
    padding-top : 7px;
    padding-bottom : 20px;
}

#postinform {
    font-weight : bold;
  }



/* MissingDetail.js 페이지에 사용되는 css */

#profile_container {
    width : 57px;
    height : 57px;
    margin-top : 20px;
    margin-left : 20px;
    margin-bottom : -15px;
    border-radius : 28px;
}

#profile {
    width : 100%;
    height : 100%;
    object-fit : cover;
}

#information { /* 프로필 간단정보 div태그*/
    display : inline-block;
    margin-left : 20px;
    line-height : 20px;
}

#writer {
    font-size : 17px;
    font-weight : bolder;
    color : #00AC78
}

#time {
    font-size : 13px;
    color : #D9D9D9;
}


#md_container1 {
    display : inline-block;
    width : 350px;
    height : 167px;
    border-radius : 10px;
    margin : 25px 0px 0px 20px;
}

#md_container2 {
    display : inline-block;
    width : 167px;
    height : 167px;
    border-radius : 10px;
}

#md_photo1, #md_photo2 {
    width: 100%;
    height : 100%;
    object-fit : cover;
    border-radius : 10px;
}

#hr {
    width : 340px;
    border : 0.5px solid #ECECEC;
    margin : 10px;
}

#text {
    margin : 20px;
}

#misstitle {
    font-size : 18px;
    color : #3E3E3E;
    text-align : left;
    font-weight : bolder;
    margin-top : -20px;
    margin-bottom : 20px;
}

#content {
    font-size : 14px;
    color : #3E3E3E;
    line-height : 20px;
}

/* MissingTag.jsx 컴포넌트에서 사용되는 css */

#missingtag {
    border-top : 1px solid #ECECEC;
    margin : 20px;
    line-height : 35px;
    padding-top : 10px;
}

#tagname {
    display : inline;
    margin-left : 20px;
}

  /* 웹킷 브라우저의 스크롤바 스타일 조절 */
  /* ::-webkit-scrollbar는 웹킷 브라우저에서만 동작 */
  /* width 값을 조절하여 스크롤바의 너비를 변경 */
  /* height 값을 조절하여 스크롤바의 높이를 변경 */
  /* background-color, border-radius 등 스타일을 적용 가능 */
  ::-webkit-scrollbar {
    width: 5px; /* 스크롤바 너비 */
    height: 5px; /* 스크롤바 높이 */
  }

  /* 스크롤바의 thumb(스크롤바 핸들) 스타일 */
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }

  /* 스크롤바의 track(스크롤바 트랙) 스타일 */
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

