/*FilteringModal.jsx*/

.modal-overlay {
  position: fixed;
  top: 30%;
  left: 30%;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  width: 200px;
  height: 200px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.Modal-close {
  background: none;
  border: none;
  cursor: pointer;
  float: right;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.Modal-content p {
  width: 320px;
  margin-left: -13px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid #ececec;
  margin-bottom: 15px;
}

#modal_btn {
  width: 330px;
  height: 43px;
  margin-top: 17px;
  margin-left: -20px;
  border: 1px solid #00ac78;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #00ac78;
  color: #ffffff;
}

#modal_check1,
#modal_check2,
#modal_check3 {
  border-bottom: 1px solid #ececec;
}

/*InquiryModal.js*/
#imd_back {
  width: 390px;
  height: 844px;
  background-color: #d0d0d0;
  padding: 60% 18%;
}

#imd_body {
  width: 260px;
  height: 270px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}

#imd_title {
  display: inline-block;
  color: #00ac78;
  font-size: 17px;
  border-bottom: 1px solid #f9f9f9;
  padding: 20px;
  padding-left: 45px;
  margin-bottom: 25px;
}

#imd_logo2D {
  display: block;
  margin-left: 35%;
}

#imd_exit {
  width: 10px;
  height: 10px;
  display: inline;
  float: right;
  margin: 5px;
}

#imd_shelter {
  font-size: 20px;
  color: #3e3e3e;
  margin-top: 20px;
}

#imd_number {
  font-size: 25px;
  color: #3e3e3e;
  margin-top: 5px;
}

/* GuidanceModal.js */
#gmd_back {
  width: 390px;
  height: 844px;
  background-color: #d0d0d0;
  padding: 65% 10%;
}

#gmd_body {
  width: 320px;
  height: 240px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 5px;
}

#gmd_title {
  display: inline-block;
  color: #00ac78;
  font-size: 17px;
  border-bottom: 1px solid #f9f9f9;
  padding: 20px;
  padding-left: 40px;
  margin-bottom: 15px;
  font-weight: bold;
}

#gmd_logo2D {
  width: 58px;
  height: 54px;
  display: block;
  margin-left: 40%;
}

#gmd_exit {
  position: absolute;
  width: 10px;
  height: 10px;
  display: inline;
  float: right;
  margin: 5px -8px;
}

#gmd_contents {
  font-size: 12px;
  color: #828282;
  margin-top: 20px;
  line-height: 18px;
}

#gmd_goto {
  font-size: 13px;
  margin-top: 10px;
  color: #00ac78;
}

/* MailModal.js  */
#mmd_back {
  width: 390px;
  height: 844px;
  background-color: #d0d0d0;
  padding: 60% 18%;
}

#mmd_body {
  width: 260px;
  height: 270px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}

#mmd_title {
  display: inline-block;
  color: #00ac78;
  font-size: 17px;
  border-bottom: 1px solid #f9f9f9;
  padding: 10px;
  padding-left: 20px;
  margin-bottom: 15px;
}

#mmd_logo2D {
  display: block;
  margin-left: 35%;
}

#mmd_exit {
  width: 10px;
  height: 10px;
  display: inline;
  float: right;
  margin: 5px;
}

#mmd_mail {
  font-size: 20px;
  margin-top: 10px;
  color: #00ac78;
}

#mmd_manage {
  font-size: 12px;
  color: #828282;
  margin-top: 20px;
  line-height: 18px;
}

/*AgreeModal.js*/
#amd_back {
  width: 390px;
  height: 844px;
  background-color: #d0d0d0;
  padding: 60% 10%;
}

#amd_body {
  width: 320px;
  height: 400px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 5px;
}

#amd_title {
  display: inline-block;
  color: #00ac78;
  font-size: 20px;
  border-bottom: 1px solid #f9f9f9;
  padding: 15px;
  padding-left: 35px;
  margin-bottom: 15px;
  font-weight: bold;
}

#amd_logo2D {
  width: 120px;
  height: 112px;
  display: block;
  margin-left: 32%;
}

#amd_exit {
  width: 10px;
  height: 10px;
  display: inline;
  float: right;
  margin: 5px;
}

#amd_manage1 {
  font-size: 13px;
  margin-top: 15px;
  color: #3e3e3e;
  line-height: 20px;
}

#amd_manage2 {
  font-size: 11px;
  color: #828282;
  margin-top: 20px;
  line-height: 18px;
}

#amd_btn {
  border: 1px solid #00ac78;
  background-color: #00ac78;
  margin-top: 17px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 320px;
  height: 51px;
}

#amd_more {
  display: inline-block;
  width: 130px;
  height: 48px;
  margin-left: -30px;
  border-right: 1px solid #00ac78;
  border-bottom-left-radius: 5px;
  color: #00ac78;
  background-color: #ffffff;
  padding: 15px;
}

#amd_goadopt {
  width: 140px;
  display: inline-block;
  background-color: #00ac78;
  color: #ffffff;
  margin-left: 20px;
}

/*DeleteModal.js*/

#dmd_back {
  width: 390px;
  height: 844px;
  background-color: #d0d0d0;
  padding: 75% 10%;
}

#dmd_body {
  width: 320px;
  height: 180px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 5px;
  padding-top: 15px;
}

#dmd_logo2D {
  width: 58px;
  height: 54px;
  display: block;
  margin-left: 43%;
}

#dmd_manage {
  font-size: 13px;
  margin-top: 10px;
  color: #3e3e3e;
  line-height: 20px;
}

#dmd_btn {
  border: 1px solid #00ac78;
  background-color: #00ac78;
  margin-top: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 320px;
  height: 51px;
}

#dmd_no {
  display: inline-block;
  width: 152px;
  height: 50px;
  margin-left: -5px;
  border-right: 1px solid #00ac78;
  border-bottom-left-radius: 5px;
  color: #00ac78;
  background-color: #ffffff;
  padding: 15px;
}

#dmd_yes {
  width: 140px;
  display: inline-block;
  background-color: #00ac78;
  color: #ffffff;
  margin-left: 25px;
}
