/*MyPage.js에 사용되는 CSS*/

#editprofile { /* 프로필 정보 수정 div 태그*/
    border-bottom : 0.5px solid #f0f0f0;
    padding-bottom : 30px;
    background-color : #F9F9F9;
}

#editphoto { /* 프로필 사진 수정을 위한 editphoto.png 아이콘*/
    width : 66px;
    height : 66px;
    margin-top : 20px;
    margin-left : 20px;
    margin-bottom : -15px;
}

#information { /* 프로필 간단정보 div태그*/
    display : inline-block;
    margin-left : 20px;
    line-height : 25px;
    color : #3E3E3E;
}

#name { /* 프로필 이름*/
    font-size : 20px;
    font-weight : bolder;
    padding-bottom: 3px;
}

#num { /* 프로필 전화번호*/
    font-size : 15px;
    margin-top : 5px;
}

#mypage_more1 { /* 프로필 정보 수정으로 이어질 more.png 아이콘*/
    display : inline-block;
    width : 15px;
    height : 30px;
    margin-left : 110px;
    padding-bottom : 10px;
}

#ad2 { /* 광고배너2 ad2.png 이미지*/
    width : 352px;
    height : 67px;
    border-radius : 10px;
    margin : 30px 0px 20px 20px;
    margin-bottom : 10px;
}

#mypagelist { /* 마이페이지에 나열된 각각의 페이지목록 div태그*/
    margin-top : 30px;
    margin-left : 5px;
}

#mypageicons { /* 페이지 목록 아이콘 png 이미지 파일*/
    width : 20px;
    height : 20px;
    margin-left : 20px;
    margin-bottom : -4px;
}

#mypagename { /* 페이지 이름*/
    display : inline-block;
    margin-left : 20px;
    margin-right : 20px;
    font-weight : bold;
    color : #3E3E3E
}

#mypage_more2 { /* 해당 페이지로 연결되는 more.png 아이콘*/
    width : 10px;
    height : 15px;
    margin-top : 5px;
    margin-right : 30px;
    float : right;
}