/*Notice.js*/
#n_notice {
    display : inline-block;
    margin: 0px;
    width : 190px;
    height : 47px;
    padding : 15px 10px 0px;
    text-align : center;
    font-size : 15px;
    font-weight : bold;
    color : #00AC78;
    border-bottom : 1px solid #00AC78;
}

#n_event {
    display : inline-block;
    margin : 0px;
    width : 190px;
    padding : 16px 0px;
    text-align : center;
    font-size : 15px;
    font-weight : bold;
    color : #828282;
    border-bottom : 1px solid #ECECEC;
}

#n_ad3 {
    float : left;
    position : fixed;
    top : 700px;
    margin-left : 12px;
}


/*NoticeList.js 하위라우터*/
#noticelist {
    border-bottom : 1px solid #BEBEBE;
    padding : 15px;
}

#nl_title {
    color : #3E3E3E;
    font-size : 15px;
    line-height : 20px;
}

#nl_date {
    color : #BEBEBE;
    font-size : 11px;
    margin-top : 10px;
}

/*NoticeDetail.js*/

/*Event.js*/
#eventlist {
    border-bottom : 1px solid #BEBEBE;
    padding : 15px;
}

#event_title {
    color : #3E3E3E;
    font-size : 15px;
    line-height : 20px;
}

#event_date {
    color : #BEBEBE;
    font-size : 11px;
    margin-top : 10px;
}
