/* 모달창을 화면 중앙. 최상단에 노출 */
.container {
  /* 모달창 크기 */
  width: 70vw;
  height: 50%;

  /* 최상단 위치 */
  z-index: 999;

  /* 중앙 배치 */
  /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
  /* translate는 본인의 크기 기준으로 작동한다. */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* 모달창 디자인 */
  background-color: gray;
  border: 1px solid black;
  border-radius: 5px;
}

#Modal-close {
  background: none;
  border: none;
  cursor: pointer;
  float: right;
  margin-left: -30px;
  border: none;
  width: 10px;
  height: 10px;
}

#confirm {
  width: 320px;
  margin-left: 5px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  border-bottom: 1px solid #ececec;
  margin-bottom: 15px;
  color: #00ac78;
}

#modal_btn1 {
  flex: 1;
  color: #00ac78;
  font-size: 25px;
  border: transparent;
  border-radius: 0%;
  border-bottom-left-radius: 8px;
}

#modal_btn2 {
  flex: 1;
  font-size: 25px;
  background-color: #00ac78;
  color: #ffffff;
  border: transparent;
  border-radius: 0%;
  border-bottom-right-radius: 8px;
}

#modal_btn2 > a {
  color: #ffffff;
}
