/*Review.js 페이지에 사용되는 css*/

#adopt_review { /* 입양후기 div태그*/
    display : inline-block;
    margin: 0px;
    width : 194px;
    height : 47px;
    padding : 15px 10px 0px;
    text-align : center;
    font-size : 15px;
    font-weight : bold;
    color : #00AC78;
    border-bottom : 1px solid #00AC78;
}

#reunion_review { /*재회후기 div태그*/
    display : inline-block;
    margin : 0px;
    width : 190px;
    padding : 16px 0px;
    text-align : center;
    font-size : 15px;
    font-weight : bold;
    color : #828282;
    border-bottom : 1px solid #ECECEC;
}

#floatingwrite {
    position : fixed;
    bottom : 15%;
    left : 78%;
}


/*ReviewList.jsx 컴포넌트에서 사용되는 Css*/

#r_list { /* ReviewList.jsx 컴포넌트 전체를 묶는 div태그*/
    width : 340px;
    height : 230px;
    border : 1px solid #D9D9D9;
    border-radius : 10px;
    margin : 25px;
    line-height : 12px;
}

#r_profile {
    width : 32px;
    height : 32px;
    margin-top : 15px;
    margin-left : 20px;
    margin-bottom : 0px;
}

#r_information { /* 프로필 간단정보 div태그*/
    display : inline-block;
    margin-left : 10px;
    line-height : 20px;
}

#r_writer {
    font-size : 12px;
    font-weight : bolder;
    color : #00AC78
}

#r_time { 
    font-size : 8px;
    color : #D9D9D9;
}


#rl_container1 {
    display : inline-block;
    width : 154px;
    height : 102px;
    border-radius : 10px;
    margin : 5px 10px 0px 10px;
}

#rl_container2 {
    display : inline-block;
    width : 154px;
    height : 102px;
    border-radius : 10px;
}

#rl_photo1, #rl_photo2 {
    width: 100%;
    height : 100%;
    object-fit : cover;
    border-radius : 10px;
}

#r_main { /*큰 제목 P태그*/
    margin : 10px 10px;
    color : #3E3E3E;
    font-size : 12px;
    font-weight : bolder;
}

#r_sub { /*내용미리보기 p태그*/
    margin : 0px 10px;
    color : #3E3E3E;
    font-size : 11px;
    line-height : 13px;
}




/* ReviewDetail.js 페이지에 사용되는 css */

#profile {
    width : 57px;
    height : 57px;
    margin-top : 20px;
    margin-left : 20px;
    margin-bottom : -15px;
}

#information { /* 프로필 간단정보 div태그*/
    display : inline-block;
    margin-left : 20px;
    line-height : 20px;
}

#writer {
    font-size : 17px;
    font-weight : bolder;
    color : #00AC78
}

#time {
    font-size : 13px;
    color : #D9D9D9;
}


#rd_container1 {
    display : inline-block;
    width : 154px;
    height : 154px;
    border-radius : 10px;
    margin : 25px 15px 0px 30px;
}

#rd_container2 {
    display : inline-block;
    width : 154px;
    height : 154px;
    border-radius : 10px;
}

#rd_photo1, #rd_photo2 {
    width: 100%;
    height : 100%;
    object-fit : cover;
    border-radius : 10px;
}

#hr {
    width : 340px;
    border : 0.5px solid #ECECEC;
    margin : 20px;
}

#rd_text {
    margin : 20px;
}

#rd_title {
    font-size : 18px;
    color : #3E3E3E;
    text-align : left;
    font-weight : bolder;
    margin-bottom : 20px;
}

#rd_content {
    font-size : 14px;
    color : #3E3E3E;
    line-height : 20px;
}
