.loginMain {
  height: 844px;
  padding: 1rem;
  box-sizing: content-box;

  text-align: center;

  background-repeat: no-repeat;
  background-image: url("/public/assets/images/LoginBackground.png");
}

.logoDiv {
  text-align: center;
  margin-top: 4rem;
}

#mainLogo {
  font-family: "JalanOTF";
  font-weight: bold;
  color: #00ac78;
  font-size: 60px;
  margin-bottom: 0.5rem;
}

#signInText {
  font-family: "JalanOTF";
  font-weight: bold;
  color: #00ac78;
  font-size: 23px;
  margin-bottom: 6rem;
}

#goLogin {
  margin-top: 8rem;
  font-weight: 600;
  color: #9c9c9c;
}

#goLogin a {
  color: #00ac78;
}
